progress-bar {
    // ion-spinner * {
    //     width: 10px;
    //     height: 10px;
    //     stroke: #444;
    //     fill: #222;
    // }
    .main-view{
      background: transparent;
    }
    .overlay {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: .5;
      background-color: #333;
    }
    .modal_content {
      position: absolute;
      padding-top: 10px;
      top: calc(50% - (20%/2));
      left: 0;
      right: 0;
      width: 90%;
      height: 80px;
      padding: 10px;
      z-index: 100;
      margin: 0 auto;
      color: #333;
      background: #e8e8e8;
      background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
      background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
      background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      overflow: hidden;
    }

    .message{
        width: 100%;
        padding: 10px 16px 0px 16px;
        overflow: hidden;
        text-overflow: ellipsis;

        ion-spinner{
            height: 20px;
            width: 20px;
            margin-right: 16px;
            vertical-align: middle;
            *{
                stroke: color($colors, primary);
            }
        }
    }

    .theroot {
        height: 100px;
        background-color: yellow;
    }


    .progress-outer {
        margin: 10px 15px;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }

    .progress-inner {
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 10px;
        background-color: map-get($colors, primary);
    }
}

.modal-wrapper{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
